test/src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f853fc2a-a054-42b4-8299-03a750164f17" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="28d06363-3a2f-4f0d-99a4-2cfd219f8574" >
		<file:connection workingDir="D:\pdf" />
	</file:config>
	<flow name="testFlow" doc:id="62fa1fcb-13e7-4b02-a5ac-076f669718a3" >
		<http:listener doc:name="Listener" doc:id="3a0ca858-bebe-4dc4-aa84-392641bba349" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="[a,b,c,d,e]" doc:name="Set Payload" doc:id="4685c9b5-11f1-464a-980a-75b1ca66ba62" />
		
		
		<batch:job jobName="testBatch_Job" doc:id="6fd640f2-3480-4814-8700-40214377cc68" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="fcd1adde-fae7-46ba-95ee-4cb7292578a8">
					<ee:transform doc:name="Transform Message" doc:id="248441a5-16b2-4084-a013-1b3693325a46" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
upper(payload)]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="36179da0-498b-4c42-9180-d6ebdf0ef0b5" size="3">
						<logger level="INFO" doc:name="Logger" doc:id="5bf4a9bd-14ef-407c-8bfa-636cd13e0ea9" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
				<batch:step name="Batch_Step1" doc:id="202c922d-9bf9-4bc0-8494-558bcc8eff0c" >
					<ee:transform doc:name="Transform Message" doc:id="f2ff6b1f-9a47-408e-b31e-49f583b682f2" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
upper(payload)]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="6fa26363-e6ad-4b75-9adb-262b4c12bbaa" size="2">
						<logger level="INFO" doc:name="Logger" doc:id="f17d550e-b95e-4127-914d-927a8bfe7b26" message="#[payload]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
		</batch:job>
	</flow>
	<flow name="testFlow1" doc:id="6b83e5bb-60a7-4827-81e8-cbd587ffe359" >
		<http:listener doc:name="GET test2" doc:id="1cf1c7ae-b642-4568-814f-fd3ef99dee01" config-ref="HTTP_Listener_config" path="test2"/>
		<set-payload value='#[output application/json --- {some: "test"}]' doc:name="Set Payload" doc:id="7e29b23e-f3c5-4dc7-8e10-634637af77d0" mimeType="application/json"/>
		<flow-ref doc:name="Flow Reference" doc:id="b9af392d-25bd-45e3-857a-5462f5d42c80" name="testFlow2" target="payloa"/>
		<logger level="INFO" doc:name="Logger" doc:id="cac97aa4-10a0-43ce-9f86-1017160716fa" message="#[vars.payloa]"/>
	</flow>
	<flow name="testFlow2" doc:id="c5063aa8-58d6-4859-aad4-97e6f8bd210e" >
		<ee:transform doc:name="Transform Message" doc:id="d8de22b3-7b62-4d04-bb80-d4b3634a995b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
some: {(payload)}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="testFlow3" doc:id="22bb4e5e-a921-4ca9-b654-c87786b3dbe9" >
		<http:listener doc:name="GET test3" doc:id="45eab8ea-14c1-4a5e-ae0b-27c43f661a7a" config-ref="HTTP_Listener_config" path="test3" />
		<set-payload value='#[output application/json --- ["a","b","c","d","e"]]' doc:name=" Payload" doc:id="0f1bae40-9d70-4136-b5ea-60d997427d97" mimeType="application/json" />
		<set-variable value="#[sizeOf(payload)]" doc:name="size" doc:id="b243e48f-95f1-4774-b8c0-02958f10803b" variableName="size"/>
		<batch:job jobName="testBatch_Job1" doc:id="64b4bacd-959c-4a22-84bc-de1826f46b7c" >
			<batch:process-records >
				<batch:step name="Batch_Step2" doc:id="d698fa08-344f-4f7c-b47e-d558196c6b42" >
					<set-variable value="#[payload]" doc:name="varbatch" doc:id="d07dfa29-a210-4e62-bc51-98ba47be1897" variableName="varbatch"/>
					<set-payload value="#[payload]" doc:name="Set Payload" doc:id="38eaafbb-1266-4008-884f-6989b5c477b9" />
					<logger level="INFO" doc:name="Logger" doc:id="bb0dc060-ccce-4116-9dab-ebc38ea01184" message="#[payload]"/>
				</batch:step>
				<batch:step name="Batch_Step3" doc:id="e6b5c53f-7b02-460d-9777-e68ebe72f12d" >
					<logger level="INFO" doc:name="Logger" doc:id="d032d727-9e6e-4924-8274-dac372d88d37" message="#[payload]"/>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="729a989e-7f3e-4a42-8b21-a2e15fe72c96" />
			</batch:on-complete>
		</batch:job>
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="1aa6e9ce-d8b8-4c5c-acde-2df84dd2383c" message="#[vars.payloa]" />
	</flow>
	<flow name="testFlow4" doc:id="0571da69-a417-471b-98eb-17acb8e6b0cb" >
		<http:listener doc:name="GET test4" doc:id="0b2bc2cc-3f8b-451e-b4a4-b98d24b0dffd" config-ref="HTTP_Listener_config" path="test4"/>
		<set-payload value='#[{accounts:"test"}]' doc:name="Set Payload" doc:id="15828ca4-7339-4bf3-9c31-f8af5cac219a" />
		<foreach doc:name="For Each" doc:id="b19177dd-6258-4aef-9774-86d13505b156" >
			<logger level="INFO" doc:name="Logger" doc:id="17984931-ca7e-4247-886a-306de8ccaaf7" />
			<file:write doc:name="Write" doc:id="f44cb299-0f4f-48ff-ab8a-95a233f19c0a" config-ref="File_Config" path="#[random()]">
				<file:content ><![CDATA[#[output application/json --- payload]]]></file:content>
			</file:write>
		</foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1e52065b-31a6-4991-947f-30fa6a8b562a" type="ANY">
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="a49d408f-510d-4ab6-b41c-3ec1f8d6c698" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
